/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
    margin: 0;
    background: white;
    background-attachment: fixed;
    background-size: cover;
    padding: 6em 0;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
a{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
a:hover{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.wrap {
    width: 50%;
    margin: 2em auto 0;
}
/*--profile start here--*/
h1 {
   font-size: 3em;
    color: #040402;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
}
/*-- contact --*/ 
.contact{
    background: #ffffff;
}
.contact-grid {
	background: #ffffff;
    padding: 3.5em;
}
.contact-w3lsleft {
    float: left;
    width: 100%;
}
.contact-w3lsright{
	float:left;
	width:45%;
}
.agileits-contact-right{
    padding: 8em 2em 0;
}
.contact-grid h4 {
    font-size: 1.2em;
    color: #000;
    margin: 0 0 1em 0;
    font-weight: 600;
    letter-spacing: 2px;
}
.contact input[type="text"], .contact input[type="email"], .contact textarea {
    width: 90%;
    color: #999999;
    background: #fff;
    outline: none;
    font-size: .9em;
    padding: .8em 1em;
    margin-bottom: 1.5em;
    border: solid 1px #b2b2b2;
    -webkit-appearance: none;
}
.contact textarea {
    resize: none;
    min-height: 10em;
    font-family: 'Roboto', sans-serif;
}
.contact input[type="button"] { 
	outline: none;
    color: #fff;
    padding: .8em 3em;
    font-size: .9em;
    -webkit-appearance: none;
    cursor: pointer;
    background: #000000;
    border: solid 1px #000000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact input[type="button"]:hover{
	background: none; 
	border-color:#000000;
	color:#000000;
}
.contact ::-webkit-input-placeholder{
	color:#555 !important;
}
.address-row {
    margin-top: 2em;
}
.contact-w3lsright h2 {
    font-size: 1em;
    color: #000000;
    font-weight: 800;
    line-height: 1.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.address-left {
    padding: 0;
    text-align: center;
    float: left;
    width: 20%;
}
.address-row i.fa {
    font-size: 1.2em;
    border: 1px solid #000000;
    padding: .5em;
    color: #000000;
    transition: .5s all;
}
.address-right {
    float: left;
}
.address-right p{
    color: #ffffff;
    font-size: .9em;
    margin: .5em 0 0 0;
}
.address-row h5 {
    font-size: 1em;
    color: #000000;
    margin: 0;
    font-weight: 600;
}
.address-row p a {
	color: #ffffff;
    margin: 1em 0 0 0;
    text-decoration: none;
}
.address-row p a:hover{
    color: #000000;
}
.address h4 {
    font-size: 1.8em;
    color: #bb3756;
    margin-bottom: 0.6em;
    text-transform: uppercase;
}
.wthree_footer_copy{
	margin:2em 0 0 0;
	text-align:center;
}
.wthree_footer_copy p{
	color:#FFFFFF;
	font-size:.9em;
	margin:0;
}
.wthree_footer_copy p a{
	color:#FFFFFF;
	text-decoration:none;
}
.wthree_footer_copy p a:hover{
	color:#000000;
}
/*-- //contact --*/
/*-- responsive --*/
@media(max-width:1366px){
	.address-right {
		width: 76%;
	}
	.address-right p {
		font-size: .8em;
	}
}
@media(max-width:1280px){
	.wrap {
		width: 60%;
	}
}
@media(max-width:1080px){
	.wrap {
		width: 70%;
	}
}
@media(max-width:900px){
	.wrap {
		width: 80%;
	}
}
@media(max-width:800px){
	.wrap {
		width: 90%;
	}
}
@media(max-width:800px){
	.address-right {
		width: 70%;
		margin-left: 1em;
	}
}
@media(max-width:600px){
	.contact-w3lsleft {
		float: none;
		width: 100%;
	}
	.contact-w3lsright {
		float: none;
		width: 100%;
	}
	.agileits-contact-right {
		padding: 4em 2em;
	}
	.address-left {
		text-align:left;
		width: 10%;
	}
	h1 {
		font-size: 2.5em;
	}
}
@media(max-width:480px){
	h1 {
		font-size: 2em;
	}
}
@media(max-width:414px){
	body {
		padding: 2em 0;
	}
	.contact input[type="text"], .contact input[type="email"], .contact textarea {
		width: 88%;
	}
	.contact-grid {
		padding: 2em;
	}
}
@media(max-width:384px){
	h1 {
		font-size: 1.5em;
	}
	.address-left {
		width: 15%;
	}
}
@media(max-width:320px){
	.contact textarea {
		min-height: 7em;
	}
	.agileits-contact-right {
		padding: 3em 2em;
	}
	.address-left {
		width: 17%;
	}
	.contact input[type="button"] {
		padding: .8em 2em;
	}
}
/*-- //responsive --*/